/* task.module.css */
.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 16px;
  background: #262626;
  border: 1px solid #333333;
  border-radius: 8px;
}

.task p {
  flex: 1;
  font-size: 14px;
  line-height: 19px;
  color: #F2F2F2;
  margin: 0;
  margin-right: 12px; /* Ajuste a margem para separar o texto do botão */
}

.checkContainer {
  width: 18px;
  height: 18px;
  background: none;
  border: none;
}

.checkContainer div {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #4EA8DE;
}

.checkContainer svg {
  width: 100%;
  height: 100%;
  color: #5E60CE;
}

.deleteButton {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  color: #808080;
  flex-shrink: 0; /* Evitar que o botão diminua seu tamanho */
}
