.container {
    max-height: 600px; /* Defina a altura máxima que deseja para os blocos */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical quando necessário */
    padding: 10px; /* Adicione espaçamento interno conforme necessário */
  }